/* Footer Styles */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 50px;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;
    text-align: left;
}

.footer-logo {
    width: 150px; /* Adjust as needed */
    margin-bottom: 10px;
}

.footer-description {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
}

.footer-title {
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.footer-section p{
    font-size: 0.9rem;
}

.footer-section p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid #333;
    padding-top: 10px;
    display: flex;
    gap: 50px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-social-icons .svg-inline--fa {
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.footer-social-icons .svg-inline--fa:hover {
    color: #ccc;
}

/* Responsive */
@media (max-width: 768px) {
    .footer {
        padding: 30px 30px;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start; /* Align items left */
    }

    .footer-section {
        text-align: left; /* Ensure text is aligned left */
        width: 100%; /* Take full width on smaller screens */
    }

    .footer-bottom {
        display: block;
        text-align: left; /* Align footer content to left */
    }

    .footer-social-icons {
        justify-content: flex-start; /* Align social icons to the left */
    }

    .footer-social-icons .svg-inline--fa {
        font-size: 18px;
    }
}
